<div class="flex justify-center">
    <ui-container minWidth="450px">
        <div class=" text-center mb-2">
            <h1>Inicia Sesión</h1>
            <p>ingresa con tus credenciales para acceder al sistema</p>
        </div>
        <div class="flex flex-col gap-3">

                <div class="flex flex-col gap-5">
                    <input-clean label="Correo electrónico"         placeholder="tu@correo.com" [iconInput]="emailIcon" />
                    <input-clean label="Contraseña" type="password" placeholder="••••••" [iconInput]="passswordIcon" />

                    
                </div>
                <div class="flex justify-between">
                    <checkbox label="Recordarme"/>
                    <text-link>¿Olvidaste tu contraseña?</text-link>
                </div>
                
                    <button-clean label="Iniciar Sesión" [icon]="loginIcon"/>
                

        </div>
    </ui-container>

</div>