<aside class="w-64 ">

    <div class="w-full h-[77px]  flex items-center justify-center border-b border-gray-300">
        <h1 class="">ERP MODA</h1>
    </div>

    <nav class="mt-5  ">
        <ul class="flex flex-col gap-2 items-center">
                <li 
                *ngFor="let link of links"
                [routerLink]="link.path"
                routerLinkActive="active"
                class="w-52 py-3 flex items-center px-2 rounded-lg gap-2 cursor-pointer 
                transition-colors duration-200
                hover:bg-(--hover-bg-light) dark:hover:bg-(--hover-bg-light)/20 "
                >
                <lucide-angular [name]="link.icon"></lucide-angular>
                <span>{{ link.label }}</span>
                </li>

        </ul>
    </nav>


</aside>