<header class="flex items-center justify-between p-5  border-b border-gray-200 bg-(--foreground-light) dark:bg-(--foreground-dark)">

    <div class="flex gap-2">
        <h1>Crispy ERP</h1>
        <pill label="Vista Administrador"></pill>
    </div>
    <div class="flex gap-2">
        <button (click)="toggleTheme()" class="p-2 bg-gray-100 rounded-full hover:bg-gray-200">
            <lucide-angular [name]="currentIcon" class="w-5 h-5 text-gray-600"></lucide-angular>
        </button>

    </div>
</header>