
<div class="flex flex-col gap-5">

<ui-container label="Agregar tipo de Servicio">

        <div class="flex gap-3">

            <input-clean class="flex-1"
                    label="Empleado"
                placeholder="Buscar empleado"/>
            
            <input-clean
                    label="Empleado"
                placeholder="Buscar empleado"/>
            <input-clean
                    label="Empleado"
        placeholder="Buscar empleado"/>

        </div>



</ui-container>

<ui-container label="Agregar tipo de Servicio">

    <div class=" grid grid-cols-3 gap-3">

        <item-service
        
        />
                    <item-service
        
        />
                    <item-service
        
        />
                    <item-service
        
        />
                    <item-service
        
        />

    </div>



</ui-container>

</div>