
<div class="flex flex-col gap-5">
    <ui-container label="Agregar Configuración de Comisión">

        <div class="flex flex-col gap-2">
            <div class="flex  gap-3">
                <input-clean class="flex-1" label="Rol/Puesto" />
                <input-clean class="flex-1" label="Porcentaje (%)"  />
            </div>

            <div class=" w-52 flex p-3 gap-2 font-bold  bg-(--primary-color) border border-gray-200 rounded-lg hover:bg-(--primary-color)/80 transition-colors duration-200 cursor-pointer items-center text-white">
                <lucide-angular [name]="plusIcon" class="w-6 h-6  text-white"></lucide-angular>
                <p>Agregar Producto</p>
            </div>

        </div>


    </ui-container>


    <ui-container label="Configuración de Comisiones por Rol">


        <div class="flex flex-col gap-3">

                <item-percentage    
                title="Estilista Senior"
                />
                
                <item-percentage    
                title="Barbero"
                />
                
                <item-percentage    
                title="Peluquera"
                />
                
                <item-percentage    
                title="Pram"
                />


        </div>

    </ui-container>
</div>