<div class=" flex items-center justify-between mb-5">

    <h3>Panel de control</h3>

</div>

<div class="cards grid grid-cols-4 gap-4 h-32">

    <card-stat
    title="Total de Clientes"
    [value]="-160"
    [percentageChange]="-5.4"
    [icon]="clientesIcon"
    comparisonText="Desde el mes pasado"
    iconColor="text-(--primary-color)"/>
    <card-stat
    title="Total de Clientes"
    [value]="-160"
    [percentageChange]="-5.4"
    [icon]="clientesIcon"
    comparisonText="Desde el mes pasado"
    iconColor="text-(--primary-color)"/>
    <card-stat
    title="Total de Clientes"
    [value]="-160"
    [percentageChange]="-5.4"
    [icon]="clientesIcon"
    comparisonText="Desde el mes pasado"
    iconColor="text-(--primary-color)"/>
    <card-stat
    title="Total de Clientes"
    [value]="-160"
    [percentageChange]="-5.4"
    [icon]="clientesIcon"
    comparisonText="Desde el mes pasado"
    iconColor="text-(--primary-color)"/>

</div>


<div class="flex gap-4 mt-5 w-full">
    <ui-container height="400px">
        <chart-line></chart-line>
   </ui-container>
    
    <ui-container height="400px">
        <chart-bar></chart-bar>
    </ui-container>
</div>

<div class="flex w-full mt-5">

    <ui-container height="600px">
        <table-recent-activity></table-recent-activity>
    </ui-container>

</div>