<div class="">

    aguasdsaosmdsaos
</div>

<div class="cards mt-5 grid grid-cols-4 gap-4 h-32">

    <card-stat
    label="Ana López"
    />
        <card-stat
    label="Total Servicios"
    />
            <card-stat
    label="Total Servicios"
    />
            <card-stat
    label="Total Servicios"
    />
</div>

<div class="mt-5">

    <tabla-grid 
        [rowData]="nomina"
        [headers]="headers"
        height="270px"
    />
</div>

<div class=" w-full flex">
    <ui-container class=" mt-5">

        <p>Configuración de Comisiones</p>

        <div class="grid grid-cols-2 gap-2">
            
            <ui-container class="mt-2">
                <div class="flex items-center justify-between">
                    <p>Estilista Senior</p>
                    <pill label="60% comisión"/>
                </div>
            </ui-container>

            <ui-container class="mt-2">
                <div class="flex items-center justify-between">
                    <p>Estilista Senior</p>
                    <pill label="60% comisión"/>
                </div>
            </ui-container>
            <ui-container class="mt-2">
                <div class="flex items-center justify-between">
                    <p>Estilista Senior</p>
                    <pill label="60% comisión"/>
                </div>
            </ui-container>
            <ui-container class="mt-2">
                <div class="flex items-center justify-between">
                    <p>Estilista Senior</p>
                    <pill label="60% comisión"/>
                </div>
            </ui-container>
            <ui-container class="mt-2">
                <div class="flex items-center justify-between">
                    <p>Estilista Senior</p>
                    <pill label="60% comisión"/>
                </div>
            </ui-container>
        </div>
    </ui-container>
</div>