<div class="p-8">
    <tabs [tabs]="['Empresa 1', 'Empresa 2', 'Empresa 3']"/>

    <div class="py-5 flex flex-1">
        <div class=" flex items-center flex-1 gap-5">
            <icon-badge [icon]="rentIcon"/>

            <div class="flex flex-col gap-2">
                <p class="font-bold text-2xl">Empresa 1</p>
                <p>Empresa de belleza</p>                
            </div>
        </div>

        <div class="w-52">
            <status-chip label="Estado: Activo"/>
        </div>

    </div>
    <div class="flex flex-col gap-10">
        <ui-container>
            <div class="flex gap-6 ">
                <icon-badge [icon]="coronaIcon"/>
                <div class="flex flex-col gap-4 mr-auto ">
                    <div class="flex flex-col gap-1">
                        <p>Plan Empresarial Premiun</p>
                        <span>70 licencias  • 4 módulos activos • Soporte 24/7</span>
                    </div>
                    <div class="flex gap-5">
                        <div class="">
                                <p>Costo mensual</p>
                                <p>$1232131231</p>
                        </div>
                        <div class="">
                                <p>Proximo pago</p>
                                <p>01 Dic 2025</p>
                        </div>
                        <div class="">
                                <p>costo mensual</p>
                                <p>Automatica</p>
                        </div>
                    </div>

                    
                </div>
                <button-clean label="Actualizar plan"/>
            </div>

            <div class="grin"></div>

        </ui-container>

        <ui-container label="Información de la empresa" >
            <span>Datos fiscales y de contacto</span>
            <div class="w-[90%] mx-auto my-4">

                <div class=" border-y border-y-gray-300 py-6 grid grid-cols-2 gap-4">
                    <input-clean label="Nombre de empresa "/>
                    <input-clean label="Razón Social "/>
                    <input-clean label="NIT / RUT "/>
                    <input-clean label="Dirección "/>
                    <input-clean label="Teléfono 1"/>
                    <input-clean label="Teléfono 2"/>
                    <input-clean label="Email Corporativo "/>
                    <input-clean label="Belleza y Cuidado Personal"/>
                    <input-clean label="Configuración Fiscal "/>
                    <input-clean label="ID de la empresa"/>

                </div>
            </div>

            <div class="w-full flex justify-end mt-2 gap-2">
                <div class="">
                    <button-clean label="Cancelar" variant="outlined"/>
                </div>
                <div class="">
                    <button-clean label="Guardar Cambios"  />
                </div>

            </div>
            
        </ui-container>

        <ui-container label="Módulos ERM">


            <div class="grid grid-cols-3">
            <card-module
            title="Contabilidad"
            pillLabel="Activo"
            expiration="14/02/2024"
            [used]="14"
            />
                        <card-module
            title="Contabilidad"
            pillLabel="Activo"
            expiration="14/02/2024"
            [used]="14"
            />
                        <card-module
            title="Contabilidad"
            pillLabel="Activo"
            expiration="14/02/2024"
            [used]="14"
            />
                        <card-module
            title="Contabilidad"
            pillLabel="Activo"
            expiration="14/02/2024"
            [used]="14"
            />
                        <card-module
            title="Contabilidad"
            pillLabel="Activo"
            expiration="14/02/2024"
            [used]="14"
            />
                        <card-module
            title="Contabilidad"
            pillLabel="Activo"
            expiration="14/02/2024"
            [used]="14"
            />
                        <card-module
            title="Contabilidad"
            pillLabel="Activo"
            expiration="14/02/2024"
            [used]="14"
            />
                        <card-module
            title="Contabilidad"
            pillLabel="Activo"
            expiration="14/02/2024"
            [used]="14"
            />
                
            </div>

        </ui-container>


    </div>

</div>